<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyC8se5klY55-Ua9V3lOipP3ElU4E6Uvouo</string>
	<key>GCM_SENDER_ID</key>
	<string>504043626816</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.demo.firebaseapp.keshav</string>
	<key>PROJECT_ID</key>
	<string>yuki-53ef9</string>
	<key>STORAGE_BUCKET</key>
	<string>yuki-53ef9.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:504043626816:ios:16969297522b68974b5aa5</string>
</dict>
</plist>